# Python
**/__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
env/
venv/
ENV/
.ruff_cache/

# Git
.git
.gitignore

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Application specific
uploaded_files/
*.log
.coverage
htmlcov/
.pytest_cache/
